:root {
  --color-dark: #000000;
  --color-title: #333333;
  --color-for-dark: #ffffff;
  --primery-color: #9D5CD0;
  --hover-color: #D1A9F0;
  --active-color: #7943A4;
  --light-grey: #CACACA;
  --color-grey: #999999;
  --color-check: #C283F3;
}

@media (min-width: 1366px) and (max-width: 1919px) {

  @keyframes size {
    from {
      background-size: 130%;
    }
  
    to {
      background-size: 150%;
    }
  }

  .nav__item:not(:last-child) {
    margin-right: 35px;
  }

  .header-menu__item:not(:last-child) {
    margin-right: 47px;
  }

  .galery__container {
    display: flex;
    min-height: 100%;
  }

  .galery-left__text {
    bottom: -5px;
  }

  .galery__right {
    max-width: 700px;
  } 

  .swiper2 .swiper-slide {
    height: 280px;
  }

  .swiper-button-next {
    left: 14%;
  }

  .events__wrap {
    padding-right: 10px;
    padding-left: 37px;
  }

  .events__item {
    margin-bottom: 35px;
    width: calc((100% - 35px*2)/3);
  }

  .events__item:not(:nth-child(3n)) {
    margin-right: 35px;
  }

  .events-wrap__img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    margin-bottom: -4px;
  }

  .events-wrap__info {
    top: 15px;
  }

  .events-wrap__date {
    top: 30px;
  }

  .check__wrap {
    max-height: 100%;
  }
  .pub__slider {
    height: 320px;
  }

  .swiper3 .swiper-button-next {
    left: 12%;
  }

  .pub__price {
    right: 3px;
  }

  .swiper4 .swiper-button-next {
    left: 97%;
  }

  .contacts__map {
    left: 41%;
    width: 59%;
  }
}

@media (min-width: 1024px) and (max-width: 1365px) {
  body {
    overflow-y: auto;
  }

  .stop-scrolling {
    height: 100%;
    overflow: hidden;
  }

  .container {
    padding-left: 47px;
    padding-right: 50px;
    max-width: 100%;
  }

  .logo {
    padding-right: 4px;
    width: 188px;
    height: 42px;
  }

  .header__nav {
    position: absolute;
    top: 0;
    left: -100%;
    margin-right: 0;
    padding-right: 0;
  }

  .nav__list {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    margin-right: 0;
    padding-top: 96px;
    padding-left: 48px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
  }
  
  .header__burger {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-top: 7px;
  }

  .menu {
    display: inline-block;
    justify-content: center;
    width: 30px;
    height: 3px;
    background-color: var(--color-for-dark);
  }

  .menu1 {
    width: 36px;
  }

  .menu2 {
    width: 28px;
  }

  .menu3 {
    width: 24px;
  }

  .menu:not(:last-child) {
    margin-bottom: 9px;
  }

  .nav__item:not(:last-child) {
    margin-right: 0;
  }

  .header__burger.open-menu {
    top: 10px;
  }

  .header__burger.open-menu .menu {
    margin-bottom: 0;
  }

  .header__burger.open-menu .menu1 {
    position: absolute;
    width: 37px;
    top: 10px;
    transform: rotate(-45deg) translate(0, -8px);
    z-index: 20;
  }

  .header__burger.open-menu .menu2 {
    opacity: 0;
    transition: opacity .5s ease-in-out;
  }

  .header__burger.open-menu .menu3 {
    width: 37px;
    transform: rotate(45deg) translate(-8px, 0);
    z-index: 20;
  }

  .logo {
    width: 188px;
    height: 42px;
  }

  .header__nav.open-menu {
    left: 0;
    width: 100%;
    height: 800px;
    z-index: 15;
    transition: left .5s ease-in-out;
  }

  .nav__link {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 64px;
    color: var(--color-for-dark);
  }

  .link-btn {
    position: absolute;
    left: 48px;
    bottom: 50px;
    padding: 20px 88px 20px 101px;
    border: 2px solid var(--primery-color);
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: var(--color-for-dark);
    background: none;
    background-image: url('../image/exit.svg');
    background-position: 35%;
    background-repeat: no-repeat;
    background-size: 13px;
    visibility: visible;
  }

  .header-search__link {
    display: none;
  }

  .header__menu {
    display: none;
  }

  .search-form__input {
    position: absolute;
    top: -100px;
    left: 0;
  }

  .search-form__close {
    top: 36px;
    display: block;
    width: 29px;
    height: 29px;
    background-image: url('../image/search.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 29px;
  }

  .search-form.search-active .search-form__input {
    position: absolute;
    top: 36px;
    left: 74%;
    right: 0;
    display: block;
    max-width: 215px;
    min-height: 35px;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.85);;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: rgba(255, 255, 255, 0.85);
    text-align: left;
    background: none;
    transition: top .4s ease-in-out;
  }

  .search-form.search-active .search-form__search {
    position: absolute;
    top: 38px;
    left: 70%;
    display: block;
    width: 35px;
    height: 32px;
    border: none;
    background: none;
    background-image: url('../image/search.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 32px;
    cursor: pointer;
    transition: background-image .4s ease-in-out, top .4s ease-in-out;
  }

  .search-form__close.search-active {
    /* top: 36px; */
    width: 22px;
    height: 22px;
    background: transparent;
  }

  /* hero */

  .hero {
    min-height: 668px;
    background-image: url('../image/hero/1024/banner_01.webp');
  }

  @keyframes anim {
    /* 0% {
      background-image: url('../image/hero/1024/banner_01.webp');
    } */
  
    50% {
      background-image: url('../image/hero/1024/banner_02.webp');
    }
  
    100% {
      background-image: url('../image/hero/1024/banner_03.webp');
    }
  }

  .hero__container {
    padding-top: 114px;
    padding-bottom: 115px;
    padding-left: 48px;
    width: 100%;
    height: 100%;
    min-height: 668px;
  }

  .hero__title {
    margin-bottom: 10px;
  }

  .hero__text {
    margin-bottom: 135px;
    max-width: 660px;
  }

  .about__title {
    margin-bottom: 15px;
  }

  /* galery  */

  .galery__container {
    padding-bottom: 80px;
    min-height: 839px;
  }

  .galery__left {
    min-width: 280px;
  }

  .galery__title {
    margin-bottom: 14px;
  }

  .galery-left__text {
    bottom: -11px;
  }

  .galery__right {
    max-width: 594px;
  }

  .swiper2 .swiper-button-next {
    left: 17%;
  }

  .swiper2 .swiper-slide {
    width: 280px;
    height: 280px;
  }

  .modal {
    background: none;
    overflow-y: inherit;
  }

  .modal_active {
    position: absolute;
    top: 1420px;
    left: 327px;
  }

  .modal-content {
    max-width: 594px;
    max-height: 594px;
    box-shadow: none;
  }

  .modal__img {
    width: 264px;
    height: 594px;
  }

  .modal__wrap {
    padding-bottom: 90px;
    max-width: 330px;
  }

  /* catalog  */

  .info-left {
    width: 50%;
  }

  .info-left__img {
    margin-bottom: 29px;
    width: 100%;
    height: 274px;
  }

  .ui-accordion-content {
    flex-wrap: wrap;
    width: 100%;
    max-height: 434px;
  }

  .ui-accordion-content__item:not(:last-child) {
    margin-right: 22px;
  }

  /* events  */

  .events__item {
    margin-bottom: 49px;
    width: calc((100% - 27px*2)/3);
    min-height: 683px;
  }

  .swiper-slide:not(:last-child) {
    margin-right: 0;
  }

  .events__item:not(:nth-child(3n)) {
    margin-right: 27px;
  }

  .events__wrap {
    padding-top: 51px;
    padding-left: 35px;
    padding-bottom: 50px;
    min-height: 483px;
  }

  .events-wrap__img {
    height: 200px;
  }

  .events-wrap__info {
    top: 15px;
  }

  .events-wrap__date {
    top: 30px;
    right: 19px;
  }

  .events-wrap__more {
    bottom: 49px;
  }

  .swiper-pagination5 {
    display: none;
  }

  /* publish */

  .publish__left {
    margin-right: 13px;
    width: 31%;
  }

  .publish__right {
    width: 65%;
  }

  .swiper3 .swiper-button-prev {
    top: 56px;
    left: 0;
  }

  .swiper3 .swiper-button-next {
    top: 56px;
    left: 16%;
  }

  .pub__slider {
    margin-bottom: 16px;
    height: 320px;
  }

  .pub__price {
    right: 5px;
  }

  /* proects */

  .proects__container {
    padding-bottom: 72px;
  }

  .proects__title {
    margin-bottom: 16px;
  }

  .tooltip {
    margin-bottom: 20px;
  }

  .tooltip__icon {
    background-image: url('../image/1024_tooltip.svg');
    background-size: 16px;
    transition: background-image .4s ease-in-out;
  }

  .tooltip__icon:hover,
  .tooltip__icon:active {
    background-image: url('../image/1024_hover_tooltip.svg');
  }

  .tool-1 {
    left: 68%;
    bottom: 200px;
  }

  .tool-2 {
    left: 13%;
  }

  .tool-3 {
    left: 57%;
  }

  .tooltip__icon:hover + .tooltip__content,
  .tooltip__icon:active + .tooltip__content,
  .tooltip__icon:focus + .tooltip__content {
    opacity: 1;
  }

  .proects__subtitle {
    margin-bottom: 10px;
  }

  .swiper4 {
    /* padding-left: 57px; */
    max-width: 85%;
    height: 128px;
  }

  .swiper-proects {
    height: 52px;
  }

  .proects .swiper-button-prev {
    top: 56%;
  }

  .proects .swiper-button-next {
    top: 56%;
    left: 96%;
  }

  /* contacts */


  .form-group {
    max-width: 335px;
  }

  .contacts__address {
    max-width: 40%;
  }

  .contacts__form {
    max-width: 40%;
  }

  .contacts__social {
    max-width: 31%;
  }

  .contacts__icons {
    width: 60px;
    height: 60px;
    background-size: 60px;
  }

  .contacts__icons:not(:last-child) {
    margin-right: 26px;
  }

  .contacts__map {
    left: unset;
    width: 55%;
  }

  /* footer  */

  .footer-container {
    padding-top: 41px;
    padding-left: 49px;
  }

  .footer__logo {
    padding-top: 8px;
    width: 173px;
    height: 40px;
  }

  .footer__link {
    width: 60px;
    height: 60px;
  }

  .footer__link svg {
    width: 60px;
    height: 60px;
  }

  .footer__item:not(:last-child) {
    margin-right: 30px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  body {
    overflow-y: auto;
  }

  .container {
    padding-left: 49px;
    padding-right: 50px;
    max-width: 100%;
  }

  .logo {
    padding-right: 6px;
    width: 188px;
    height: 42px;
  }

  .header__nav {
    position: absolute;
    top: 0;
    left: -100%;
    padding-right: 0;
  }

  .nav__list {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    margin-right: 0;
    padding-top: 96px;
    padding-left: 48px;
    width: 100%;
    height: 768px;
    background: rgba(0, 0, 0, 0.9);
  }
  
  .header__burger {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-top: 7px;
  }

  .menu {
    display: inline-block;
    justify-content: center;
    width: 30px;
    height: 3px;
    background-color: var(--color-for-dark);
  }

  .menu1 {
    width: 36px;
  }

  .menu2 {
    width: 28px;
  }

  .menu3 {
    width: 24px;
  }

  .menu:not(:last-child) {
    margin-bottom: 9px;
  }

  .nav__item:not(:last-child) {
    margin-right: 0;
  }

  .header__burger.open-menu {
    top: 10px;
  }

  .header__burger.open-menu .menu {
    margin-bottom: 0;
  }

  .header__burger.open-menu .menu1 {
    position: absolute;
    width: 37px;
    top: 10px;
    transform: rotate(-45deg) translate(0, -8px);
    z-index: 20;
  }

  .header__burger.open-menu .menu2 {
    opacity: 0;
    transition: opacity .5s ease-in-out;
  }

  .header__burger.open-menu .menu3 {
    width: 37px;
    transform: rotate(45deg) translate(-8px, 0);
    z-index: 20;
  }

  .logo {
    width: 188px;
    height: 42px;
  }

  .header__nav.open-menu {
    left: 0;
    width: 100%;
    height: 768px;
    z-index: 15;
    transition: left .5s ease-in-out;
  }

  .header__search {
    padding-top: 3px;
  }

  .nav__link {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 64px;
    color: var(--color-for-dark);
  }

  .link-btn {
    position: absolute;
    left: 48px;
    bottom: 50px;
    padding: 20px 88px 20px 101px;
    border: 2px solid var(--primery-color);
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: var(--color-for-dark);
    background: none;
    background-image: url('../image/exit.svg');
    background-position: 35%;
    background-repeat: no-repeat;
    background-size: 13px;
    visibility: visible;
  }

  /* .search-form::before {
    content: '';
    display: block;
    width: 29px;
    height: 100%;
    background-image: url('../image/search.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 29px;
  } */

  .header-search__link {
    display: none;
  }

  .header__menu {
    display: none;
  }

  /* .search-form.search-active::before {
    display: none;
  } */

  .search-form__close {
    display: block;
    top: 37px;
    width: 29px;
    height: 27px;
    border: none;
    background-color: transparent;
    background-image: url('../image/search.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 29px;
  }

  .search-form.search-active .search-form__input {
    /* display: block; */
    top: 0;
  }

  .search-form.search-active {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    padding: 10px 50px 5px 57px;
    background: var(--color-dark);
    transition: top .5s ease-in-out;
  }

  .search-form.search-active .search-form__input {
    position: absolute;
    top: 25px;
    left: 86px;
    max-width: 580px;
    width: 100%;
    height: 43px;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.85);;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.85);
    text-align: left;
    background: var(--color-dark);
    transition: top .4s ease-in-out;
  }

  ::-webkit-search-cancel-button { 
    -webkit-appearance: white; 
  }

  .search-form.search-active .search-form__search {
    position: absolute;
    top: 39px;
    left: 48px;
    /* display: inline-block; */
    width: 28px;
    height: 28px;
    border: none;
    background: none;
    background-image: url('../image/search.svg');
    background-position: left;
    background-repeat: no-repeat;
    background-size: 28px;
    cursor: pointer;
    transition: background-image .4s ease-in-out, top .4s ease-in-out;
  }

  .search-form__close.search-active {
    position: absolute;
    top: 39px;
    right: 54px;
    /* display: inline-block; */
    width: 29px;
    height: 29px;
    border: none;
    background: none;
    background-image: url('../image/768_X.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 29px;
    cursor: pointer;
    transition: background-image .4s ease-in-out, top .4s ease-in-out;
  }

  /* hero */
  
  .hero {
    min-height: 668px;
  }

  @keyframes anim {
    0% {
      background-image: url('../image/hero/768/banner_1.webp');
    }
  
    50% {
      background-image: url('../image/hero/768/banner_2.webp');
    }
  
    100% {
      background-image: url('../image/hero/768/banner_3.webp');
    }
  }

  .hero__container {
    padding-top: 114px;
    padding-bottom: 115px;
    width: 100%;
    height: 668px;
  }

  .hero__title {
    margin-bottom: 10px;
  }

  .hero__text {
    margin-bottom: 134px;
    max-width: 661px;
  }

  .about__title {
    margin-bottom: 16px;
  }

  /* galery  */

  .galery__container {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-bottom: 162px;
    max-height: 100%;
  }

  .galery__left {
    position: unset;
    margin-right: 0;
    padding-bottom: 10px;
    min-width: 0;
    max-width: 280px;
  }

  .galery__title {
    margin-bottom: 15px;
  } 

  .galery-left__text {
    bottom: 69px;
  }

  .galery-left__select {
    margin-bottom: 73px;
  }

  .galery__right {
    max-width: 669px;
  } 

  .swiper2 .swiper-button-next {
    left: 15%;
  }

  .swiper-pagination1 {
    padding-left: 24px;
  }

  .swiper2 .swiper-slide {
    height: 280px;
  }

  .modal-content {
    max-width: 668px;
    max-height: 594px;
  }

  .modal__img {
    width: 301px;
    height: 594px;
  }

  .modal__wrap {
    padding-right: 36px;
    max-width: 367px;
  }

  /* catalog  */

  .catalog__container {
    padding-bottom: 69px;
  }

  .catalog__info {
    flex-direction: column;
  }

  .tab {
    margin-bottom: 70px;
  }

  .tab-content__item.active {
    height: 182px;
  }

  .catalog__content {
    margin-bottom: 32px;
  }

  .info-left {
    margin-right: 0;
    width: 100%;
    order: 1;
  }

  .info-right {
    width: 100%;
    order: 0;
  }

  .info-left__img {
    height: 419px;
  }
  
  /* events  */

  .events__container {
    padding-bottom: 82px;
  }

  .events__item {
    margin-bottom: 49px;
    width: calc((100% - 17px*2)/2);
    min-height: 683px;
  }

  .events__item:not(:nth-child(3n)) {
    margin-right: 0;
  }

  .events__item:not(:nth-child(2n)) {
    margin-right: 34px;
  }

  .events__item:nth-child(n+3) {
    display: none;
  }

  .events__wrap {
    padding-left: 35px;
    padding-bottom: 50px;
    min-height: 483px;
  }

  .events-wrap__img {
    height: 200px;
  }

  .swiper-pagination5 {
    display: none;
  }

  .events-wrap__more {
    bottom: 49px;
  }

  /* publish  */

  .publish__wrapper {
    flex-direction: column;
  }

  .publish__left {
    margin-right: 0;
    margin-bottom: 19px;
    width: 100%;
  }

  .check {
    width: 100%;
  }

  .check__wrap {
    flex-wrap: wrap;
    width: 100%;
    max-height: 146px;
  }

  .publish__right {
    width: 100%;
  } 

  .swiper3 .swiper-button-next {
    left: 15%;
  }

  .swiper3 .swiper-wrapper {
    padding-left: 27px;
  }

  .pub__price {
    right: 5px;
  } 

  .pub__slider {
    margin-bottom: 12px;
    height: 320px;
  }

  .pub__name {
    margin-bottom: 15px;
  }

  /* proects */

  .proects__container {
    padding-top: 82px;
  }

  .tooltip {
    max-width: 664px;
    margin-bottom: 26px;
  }

  .tooltip__icon {
    left: -2px;
    background-image: url('../image/1024_tooltip.svg');
    background-size: 16px;
    transition: background-image .4s ease-in-out;
  }

  .tooltip__content::after {
    visibility: hidden;
  }

  .tooltip__icon:hover,
  .tooltip__icon:active {
    background-image: url('../image/1024_hover_tooltip.svg');
  }

  .tool-1 {
    left: 44%;
    bottom: 270px;
  }

  .tool-2 {
    left: 13%;
    bottom: 139px;
  }

  .tool-3 {
    right: 0;
    left: 30%;
    bottom: 172px;
  }

  .proects__subtitle {
    margin-bottom: 18px;
  }

  .swiper4 {
    height: 108px;
    max-width: 87%;
  }

  .swiper-proects {
    width: 80%;
    height: 52px;
    /* background-size: 100% 108px; */
  }

  .proects .swiper-button-prev {
    top: 60%;
    left: 1px;
  }

  .swiper4 .swiper-button-next {
    top: 60%;
    left: 95%;
  }

  /* contacts */

  .wrap__container {
    padding-top: 122px;
  }

  .form-group {
    margin-bottom: 24px;
    max-width: 335px;
  }

  .form__input {
    padding-bottom: 3px;
  }

  .contacts__address {
    max-width: 51%;
  }

  .contacts__form {
    max-width: 53%;
  }

  .contacts__social {
    max-width: 50%;
  }

  .contacts__icons {
    width: 60px;
    height: 60px;
    background-size: 60px;
  }

  .contacts__icons:not(:last-child) {
    margin-right: 26px;
  }

  .contacts__map {
    left: unset;
    width: 44%;
  }

  .form__title {
    margin-bottom: 16px;
  }

  /* footer  */

  .footer-container {
    padding-top: 39px;
    padding-left: 49px;
  }

  .footer__logo {
    padding-top: 10px;
    width: 173px;
    height: 40px;
  }
  
  .footer__link {
    width: 60px;
    height: 60px;
  }

  .footer__link svg {
    width: 60px;
    height: 60px;
  }

  .footer__item:not(:last-child) {
    margin-right: 30px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  body {
    overflow-y: auto;
  }

  .container {
    padding: 50px 14px;
    max-width: 100%;
  }

  .header {
    height: 45px;
  }

  .header__container {
    padding-top: 12px;
    padding-bottom: 12px;
    height: 45px;
  }

  .title-main {
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 38px;
  }

  .logo,
  .footer__logo {
    width: 97px;
    height: 22px;
  }

  .header__nav {
    position: absolute;
    top: 0;
    left: -100%;
    margin-right: 0;
    padding-right: 0;
  }

  .nav__list {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    margin-right: 0;
    margin-bottom: 20px;
    padding-top: 46px;
    padding-left: 15px;
    width: 100%;
    height: 355px;
    background: rgba(0, 0, 0, 0.9);
  }
  
  .header__burger {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-top: 7px;
  }

  .menu {
    display: inline-block;
    justify-content: center;
    width: 20px;
    height: 2px;
    background-color: var(--color-for-dark);
  }

  .menu1 {
    width: 20px;
  }

  .menu2 {
    width: 15px;
  }

  .menu3 {
    width: 13px;
  }

  .menu:not(:last-child) {
    margin-bottom: 4px;
  }

  .nav__item:not(:last-child) {
    margin-right: 0;
  }

  .header__burger.open-menu {
    top: 15px;
    left: 5px;
  }

  .header__burger.open-menu .menu {
    margin-bottom: 0;
  }

  .header__burger.open-menu .menu1 {
    position: absolute;
    width: 27px;
    top: 9px;
    transform: rotate(-45deg) translate(0, -8px);
    z-index: 20;
  }

  .header__burger.open-menu .menu2 {
    opacity: 0;
    transition: opacity .5s ease-in-out;
  }

  .header__burger.open-menu .menu3 {
    width: 27px;
    transform: rotate(45deg) translate(-8px, 0);
    z-index: 20;
  }

  .header__nav.open-menu {
    left: 0;
    width: 100%;
    height: 355px;
    z-index: 15;
    transition: left .5s ease-in-out;
  }

  .logo {
    width: 97px;
    height: 22px;
  }

  .nav__link {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 32px;
    color: var(--color-for-dark);
  }

  .link-btn {
    position: absolute;
    left: 15px;
    bottom: 30px;
    padding: 11px 31px 11px 40px;
    border: 2px solid var(--primery-color);
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: var(--color-for-dark);
    background: none;
    background-image: url('../image/exit.svg');
    background-position: 28%;
    background-repeat: no-repeat;
    background-size: 9px;
    visibility: visible;
  }

  .search-form::before {
    content: '';
    display: block;
    width: 16px;
    height: 100%;
    background-image: url('../image/search.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 16px;
  }

  .header-search__link {
    display: none;
  }

  .header__menu {
    display: none;
  }

  .header__search {
    padding-top: 3px;
  }

  .search-form.search-active::before {
    display: none;
  }

  .search-form.search-active .search-form__close {
    display: block;
  }

  .search-form.search-active .search-form__input {
    display: block;
  }

  .search-form.search-active {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 50px 50px 19px 57px;
    height: 75px;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(40px);
    transition: top .4s ease-in-out;
  }

  .search-form.search-active .search-form__input {
    position: absolute;
    top: 31px;
    left: 158px;
    max-width: 250px;
    height: 23px;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.85);;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.85);
    text-align: left;
    background: var(--color-dark), 40%;
  }

  ::-webkit-search-cancel-button { 
    -webkit-appearance: white; 
  }

  .search-form.search-active .search-form__search {
    position: absolute;
    top: 36px;
    left: 132px;
    display: inline-block;
    width: 16px;
    height: 16px;
    border: none;
    background: none;
    background-image: url('../image/search.svg');
    background-position: left;
    background-repeat: no-repeat;
    background-size: 16px;
    cursor: pointer;
    transition: background-image .4s ease-in-out;
  }

  .search-form.search-active .search-form__close {
    position: absolute;
    top: 8px;
    right: 12px;
    display: inline-block;
    width: 15px;
    height: 15px;
    border: none;
    background: none;
    background-image: url('../image/768_X.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 15px;
    cursor: pointer;
    transition: background-image .4s ease-in-out;
  }

    /* hero */

  .hero {
    min-height: 310px;
  }

  .hero__container {
    padding: 30px 52px 45px 52px;
    min-height: 310px;
    text-align: center;
  }

  .hero__title {
    margin-bottom: 20px;
    width: 100%;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
  }

  .hero__text {
    margin-bottom: 30px;
    width: 100%;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
  }

  .hero__btn {
    padding: 11px 17px;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
  }

  @keyframes anim {
    0% {
      background-image: url('../image/hero/320/banner_1.webp');
    }
  
    50% {
      background-image: url('../image/hero/320/banner_2.webp');
    }
  
    100% {
      background-image: url('../image/hero/320/banner_3.webp');
    }
  }

  /* galery  */

  .galery__container {
    display: flex;
    flex-direction: column;
    padding-bottom: 98px;
    min-height: 962px;
    /* max-height: 100%; */
  }

  .galery__left {
    margin-right: 0;
    margin-bottom: 40px;
    padding-bottom: 10px;
    min-width: 290px;
    max-width: 100%;
    min-height: 200px;
  }

  .galery-left__text {
    bottom: -630px;
  }

  .galery__right {
    width: 100%;
    height: 100%;
  }

  .swiper2 {
    position: relative;
    min-height: 435px;
  }

  .swiper-pagination1 {
    position: absolute;
    bottom: 5px;
    left: 35%;
    margin-bottom: 0;
    padding-left: 23px;
    width: 200px;
  }

  .swiper2 .swiper-button-prev {
    top: 421px;
    left: 34%;
  }

  .swiper2 .swiper-button-next {
    top: 421px;
    left: 56%;
  }

  .swiper2 .swiper-slide {
    height: 367px;
  }


  .modal-content {
    flex-direction: column;
    max-width: 290px;
    max-height: 600px;
  }

  .modal__img {
    width: 290px;
    height: 200px;
  }

  .modal__wrap {
    padding: 17px 21px 26px 20px;
    max-width: 290px;
  }

  .modal__years {
    margin-bottom: 10px;
  }

  .close {
    top: 10px;
    right: 10px;
  }

  /* catalog  */

  .catalog__wrap {
    flex-direction: column;
  }

  .catalog__info {
    flex-direction: column;
  }

  .catalog__item {
    height: 66px;
  }

  .tab {
    margin-bottom: 70px;
  }

  .tab-content__item.active {
    height: 182px;
  }

  .info-left {
    margin-right: 0;
    width: 100%;
    order: 1;
  }

  .info-right {
    width: 100%;
    order: 0;
  }
  
  /* events  */

  .events__container {
    padding-bottom: 80px;
  }

  .events__item {
    margin-bottom: 34px;
    width: calc((100% - 17px*2)/2);
    min-height: 683px;
  }

  .events__item:not(:nth-child(3n)) {
    margin-right: 0;
  }

  .events__item:not(:nth-child(2n)) {
    margin-right: 34px;
  }

  .events__item:nth-child(n+3) {
    display: none;
  }

  .events__wrap {
    padding-left: 25px;
    padding-bottom: 50px;
    min-height: 525px;
  }

  .events-wrap__img {
    height: 200px;
  }

  .events-wrap__more {
    bottom: 30px;
  }

  .swiper-pagination5 {
    display: none;
  }

  /* publish  */

  .publish__wrapper {
    flex-direction: column;
  }

  .publish__left {
    margin-right: 0;
    margin-bottom: 30px;
    width: 100%;
  }

  .check {
    width: 100%;
  }

  .check__wrap {
    flex-wrap: wrap;
    max-height: 146px;
  }

  .check__span {
    font-size: 14px;
  }

  .publish__right {
    width: 100%;
  } 

  .pub__price {
    right: 5px;
  }

  .swiper3 .swiper-button-prev,
  .swiper3 .swiper-button-next,
  .swiper-pagination2 {
    display: none;
  }

  .swiper3 .swiper-wrapper {
    flex-wrap: wrap;
  }

  .swiper3 .swiper-slide {
    margin-bottom: 50px;
    max-width: 230px;
  }

  .swiper3 .swiper-slide:not(:last-child) {
    margin-right: 0;
  }

  .swiper3 .swiper-slide:not(:nth-child(2n)) {
    margin-right: 50px;
  }

  .pub__slider {
    height: 145px;
  }

  .pub__name {
    margin-bottom: 40px;
  }

  .pub__price {
    top: 75%;
    right: 157px;
  }

  .pub__btn {
    padding: 11px 40px;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
  }

  /* proects */

  .proects__text {
    max-width: 100%;
  }
  
  .tooltip__icon {
    background-image: url('../image/1024_tooltip.svg');
    background-size: 16px;
    transition: background-image .4s ease-in-out;
  }

  .tooltip__content::after {
    visibility: hidden;
  }

  .tooltip__icon:hover,
  .tooltip__icon:active {
    background-image: url('../image/1024_hover_tooltip.svg');
  }

  .tool-1 {
    left: 468px;
    bottom: 362px;
  }

  .tool-2 {
    left: 23%;
    bottom: 195px;
    min-height: 32px;
    padding: 6px 10px;
  }

  .tool-3 {
    right: 0;
    left: 37%;
    bottom: 227px;
  }

  .swiper4 {
    max-width: 70%;
    /* padding-left: 51px; */
  }

  .swiper-proects {
    /* padding-left: 120px; */
    max-width: 70%;
    height: 45px;
    /* background-size: 295px 65px; */
  }

  .proects .swiper-button-next {
    left: 93%;
  }

  /* contacts */

  .contacts {
    position: relative;
    padding-bottom: 27px;
  }


  .contacts__container {
    padding-top: 0;
    padding-bottom: 0;
  }

  .contacts__title {
    margin-bottom: 69px;
  }

  .contacts__wrap {
    position: unset;
    flex-direction: column;
    height: auto;
    border-top: none;
  }

  .wrap__container {
    padding-top: 0;
    padding-bottom: 0;
  }

  .contacts__form {
    margin-bottom: 18px;
    max-width: 100%;
  }

  .contacts__subtitle {
    position: absolute;
    top: 49px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    /* order: 1; */
  }

  .contacts__address {
    position: absolute;
    top: 71px;
    max-width: 100%;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
  }

  .contacts__social {
    max-width: 100%;
  }

  .contacts__map {
    position: unset;
    margin-bottom: 30px;
    width: 100%;
    height: 320px;
    border-left: none;
  }

  .ymaps-2-1-78-map {
    height: 320px;
  }

  .form__title {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
  }
}

@media (max-width: 575px) {
  body {
    overflow-y: auto;
  }

  .container {
    padding: 50px 14px;
    max-width: 100%;
  }

  .header {
    height: 45px;
  }

  .header__container {
    padding-top: 12px;
    padding-bottom: 12px;
    height: 45px;
  }

  .title-main {
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 38px;
  }

  .logo,
  .footer__logo {
    width: 97px;
    height: 22px;
  }

  .header__nav {
    position: absolute;
    top: 0;
    left: -100%;
    padding-right: 0;
  }

  .nav__list {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    margin-right: 0;
    margin-bottom: 20px;
    padding-top: 46px;
    padding-left: 15px;
    width: 100%;
    height: 355px;
    background: rgba(0, 0, 0, 0.9);
  }
  
  .header__burger {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-top: 4px;
  }

  .menu {
    display: inline-block;
    justify-content: center;
    width: 20px;
    height: 2px;
    background-color: var(--color-for-dark);
  }

  .menu1 {
    width: 20px;
  }

  .menu2 {
    width: 15px;
  }

  .menu3 {
    width: 13px;
  }

  .menu:not(:last-child) {
    margin-bottom: 4px;
  }

  .nav__item:not(:last-child) {
    margin-right: 0;
  }

  .header__burger.open-menu {
    top: 15px;
    left: 5px;
  }

  .header__burger.open-menu .menu {
    margin-bottom: 0;
  }

  .header__burger.open-menu .menu1 {
    position: absolute;
    width: 20px;
    top: 6px;
    transform: rotate(-45deg) translate(0, -8px);
    z-index: 20;
  }

  .header__burger.open-menu .menu2 {
    opacity: 0;
    transition: opacity .5s ease-in-out;
  }

  .header__burger.open-menu .menu3 {
    width: 20px;
    transform: rotate(45deg) translate(-8px, 0);
    z-index: 20;
  }

  .header__nav.open-menu {
    left: 0;
    width: 100%;
    height: 355px;
    z-index: 15;
    transition: left .5s ease-in-out;
  }

  .logo,
  .footer__img {
    width: 97px;
    height: 22px;
  }

  .nav__link {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 32px;
    color: var(--color-for-dark);
  }

  .link-btn {
    position: absolute;
    left: 15px;
    bottom: 30px;
    padding: 11px 31px 11px 40px;
    border: 2px solid var(--primery-color);
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: var(--color-for-dark);
    background: none;
    background-image: url('../image/exit.svg');
    background-position: 28%;
    background-repeat: no-repeat;
    background-size: 9px;
    visibility: visible;
  }

  /* .search-form::before {
    content: '';
    display: block;
    width: 16px;
    height: 100%;
    background-image: url('../image/search.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 16px;
  } */

  .header-search__link {
    display: none;
  }

  .header__menu {
    display: none;
  }

  .header__search {
    padding-top: 3px;
  }

  /* .search-form.search-active::before {
    display: none;
  } */

  .search-form__close {
    top: 13px;
    right: 12px;
    width: 16px;
    height: 16px;
    background-image: url('../image/search.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 16px;
  }

  .search-form.search-active {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 50px 50px 19px 57px;
    height: 75px;
    background: rgba(0, 0, 0, 0.9);
    /* background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(40px); */
    transition: top .4s ease-in-out;
  }

  .search-form.search-active .search-form__input {
    position: absolute;
    top: 31px;
    left: 73px;
    max-width: 183px;
    height: 23px;
    border: none;
    border-radius: unset;
    border-bottom: 1px solid rgba(255, 255, 255, 0.85);;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.85);
    text-align: left;
    background: var(--color-dark), 40%;
    transition: top .4s ease-in-out;
  }

  ::-webkit-search-cancel-button { 
    -webkit-appearance: white; 
  }

  .search-form.search-active .search-form__search {
    content: '';
    position: absolute;
    top: 40px;
    left: 57px;
    display: inline-block;
    width: 16px;
    height: 16px;
    border: none;
    border-radius: unset;
    background: none;
    background-image: url('../image/search.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 16px;
    cursor: pointer;
    transition: background-image .4s ease-in-out, top .4s ease-in-out;
  }

  .search-form.search-active .search-form__close {
    position: absolute;
    top: 15px;
    right: 12px;
    display: inline-block;
    width: 15px;
    height: 15px;
    border: none;
    border-radius: unset;
    background: none;
    background-image: url('../image/768_X.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 15px;
    cursor: pointer;
    transition: background-image .4s ease-in-out, top .4s ease-in-out;
  }

  /* hero */

  .hero {
    min-height: 310px;
  }

  .hero__container {
    padding: 33px 31px 45px 31px;
    min-height: 310px;
    text-align: center;
  }

  .hero__title {
    margin-bottom: 11px;
    width: 100%;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 38px;
  }

  .hero__text {
    margin-bottom: 40px;
    width: 100%;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
  }

  .hero__btn {
    padding: 9px 17px;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
  }

  @keyframes anim {
    0% {
      background-image: url('../image/hero/320/banner_1.webp');
    }
  
    50% {
      background-image: url('../image/hero/320/banner_2.webp');
    }
  
    100% {
      background-image: url('../image/hero/320/banner_3.webp');
    }
  }

  .about__container {
    padding-right: 15px;
    padding-bottom: 40px;
  }

  .about__title {
    margin-bottom: 14px;
  }

  .about__text {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 28px;
  }

  /* galery  */

  .galery__container {
    display: flex;
    flex-direction: column;
    padding-bottom: 98px;
    min-height: 962px;
  }

  .galery-left {
    margin-right: 0;
    margin-bottom: 40px;
    padding-bottom: 10px;
    min-width: 290px;
    max-width: 100%;
    min-height: 200px;
  }

  .galery__title {
    margin-bottom: 12px;
  }

  .galery-left__lable {
    margin-bottom: 5px;
  }

  .left-select_option {
    min-width: 280px;
  }

  .galery-left__text {
    bottom: -640px;
  }

  .galery__right {
    width: 100%;
  }

  .swiper2 {
    position: relative;
    min-height: 425px;
  }

  .swiper-pagination1 {
    position: absolute;
    bottom: 2px;
    left: 34%;
    margin-bottom: 0;
    padding-left: 0;
    width: 100px;
  }

  .swiper2 .swiper-button-prev {
    top: 413px;
    left: 22%;
  }

  .swiper2 .swiper-button-next {
    top: 413px;
    left: 62%;
  }

  .swiper2 .swiper-slide {
    width: 280px;
    height: 367px;
  }

 .modal-content {
    flex-direction: column;
    max-width: 290px;
    max-height: 600px;
  }

  .modal__img {
    width: 290px;
    height: 200px;
  }

  .modal__wrap {
    padding: 17px 21px 26px 20px;
    max-width: 290px;
  }

  .modal__years {
    margin-bottom: 10px;
  }

  .close {
    top: 10px;
    right: 10px;
  }

  /* catalog  */

  .catalog__container {
    padding-top: 80px;
    padding-bottom: 3px;
  }

  .catalog__wrap {
    flex-direction: column;
    margin-bottom: 11px;
  }

  .catalog__title {
    margin-bottom: 11px;
  }

  .catalog__list {
    padding-top: 0;
  }

  .catalog__btn {
    width: 32px;
    height: 32px;
    background-size: 32px;
  }
  
  .tab-content__item.active {
    height: 100%;
  }

  .catalog__item:not(:last-child) {
    margin-right: 30px;
  }

  .catalog__info {
    flex-direction: column;
  }

  .tab-header__item.active {
    display: block;
    top: -6px;
    width: 44px;
    height: 44px;
  }

  .catalog__item {
    height: 44px;
  }

  .tab {
    margin-bottom: 70px;
  }

  .info-left {
    margin-right: 0;
    width: 100%;
    order: 1;
  }

  .info-right {
    width: 100%;
    order: 0;
  }

  .info-right-list__item {
    padding-top: 20px;
    padding-bottom: 22px;
  }

  .info-right-list__subtitle {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
   }

  .info-right-list__subtitle::after {
    top: 20px;
    width: 30px;
    height: 30px;
    background-size: 30px;
   }

  .info-right-list__subtitle:hover::after {
    background-size: 30px;
  }

  .ui-accordion-header-active.info-right-list__subtitle::after {
    top: 20px;
  }

  .ui-accordion-content {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    max-height: 100%;
  }

  .info-left__img {
    margin-bottom: 21px;
    width: 100%;
    height: 181px;
  }

  .info-left__name {
    margin-bottom: 11px;
  }

  .info-left__yers {
    margin-bottom: 7px;
  }

  .info-left__text {
    max-width: 100%;
  }
  
  /* events  */

  .events__title {
    margin-bottom: 12px;
  }

  .events__list {
    flex-wrap: nowrap;
  }

  .events__item {
    max-width: 100%;
    margin-bottom: 12px;
    width: calc((100% - 17px*2)/2);
    min-height: 683px;
    display: block;
  }

  .events__item:not(:nth-child(3n)) {
    margin-right: 0;
  }

  .events__item:not(:nth-child(2n)) {
    margin-right: 0;
  }

  .events__item:nth-child(n+4) {
    display: block;
  }

  .events__wrap {
    padding-right: 20px;
    padding-bottom: 50px;
    padding-left: 25px;
    min-height: 483px;
  }

  .events-wrap__img {
    margin-bottom: -3px;
    height: 200px;
  }

  .events__btn {
    display: none;
  }

  .swiper-pagination5 {
    display: block;
    text-align: center;
  }

  .swiper-pagination5 .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background: var(--light-grey);
  }

  .swiper-pagination5 .swiper-pagination-bullet-active {
    background: #666;
  }

  .events-wrap__more {
    bottom: 51px;
  }

  /* publish  */

  .publish__container {
    padding-bottom: 0;
  }

  .publish__wrapper {
    flex-direction: column;
  }

  .publish__left {
    margin-right: 0;
    margin-bottom: 49px;
    width: 100%;
  }

  .check {
    width: 100%;
  }

  .check__title:first-child {
    border-top: 1px solid rgba(255, 255, 255, 0.5);
  }
  
  .check__title {
    position: relative;
    margin-top: -2px;
    padding-top: 5px;
    padding-bottom: 1px;
    padding-left: 1px;
    border-top: 1px solid transparent;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    transition: border-top .4s ease-in-out, border-bottom .4s ease-in-out, background-image .4s ease-in-out;
  }

  .check__title::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    cursor: pointer;
  }

  .check__title:hover {
    border-top: 1px solid var(--hover-color);
    border-bottom: 1px solid var(--hover-color);
    transition: border-top .4s ease-in-out, border-bottom .4s ease-in-out;
  }

  .check__title:active {
    border-top: 1px solid var(--active-color);
    border-bottom: 1px solid var(--active-color);
    transition: border-top .4s ease-in-out, border-bottom .4s ease-in-out;
  }

  .check__title::after {
    content: '';
    position: absolute;
    top: 15px;
    right: 0;
    width: 12px;
    height: 12px;
    border: none;
    background-image: url('../image/arrow_accordion2.svg');
    background-position: right;
    background-repeat: no-repeat;
    background-size: 12px;
    cursor: pointer;
    transition: background-image .4s ease-in-out;
    overflow: hidden;
  }

  .ui-accordion-header-active.check__title::after {
    position: absolute;
    top: 15px;
    background-image: url('../image/x_accordion2.svg');
    background-size: 12px;
  }
  
  .check__title:focus {
    border: 1px solid var(--active-color);
  }

  .check__lable:first-child {
    border-top: 1px solid rgba(255, 255, 255, 0.5);
  }

  .check__lable {
    margin-top: -4px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 1px;
    border-top: 1px solid transparent;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  }

  .check__span::before {
    top: 15px;
  }

  .check__span::after {
    content: '';
    position: absolute;
    top: 20px;
    left: 0;
    width: 3px;
    height: 3px;
    border-radius: 50px;
    background-color: var(--color-check);
    opacity: 0;
  }

  .check__input:checked + .check__span::after {
    top: 20px;
    left: 4px;
    background-color: var(--color-check);
    opacity: 1;
  }

  .check__lable:focus + .check__span { 
    padding-top: 5px;
    padding-bottom: 5px;
    border-top: 1px solid var(--active-color);
    border-bottom: 1px solid var(--active-color);
  }

  .publish__right {
    width: 100%;
  } 

  .wrapper03 .swiper-slide {
    flex-direction: column;
    margin-bottom: 30px;
    min-height: 254px;
    height: 254px;
  }

  .swiper3 .swiper-button-prev,
  .swiper3 .swiper-button-next,
  .swiper-pagination2 {
    visibility: hidden;
  }

  .swiper-pagination2 {
    display: none;
  }

  .wrapper03 .publish-slide {
    flex-direction: column;
    margin-right: 0;
    width: 100%;
  }

  .wrapper03 .swiper-publish:not(:last-child) {
    margin-right: 30px;
  }

  .swiper3 .swiper-button-prev,
  .swiper3 .swiper-button-next {
    display: none;
  }

  .swiper3 .swiper-wrapper.wrapper03 {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .swiper3 .swiper-slide {
    margin-bottom: 47px;
    max-width: 130px;
  }

  .swiper3 .swiper-slide:not(:last-child) {
    margin-right: 10px;
  }

  .swiper3 .swiper-slide:not(:nth-child(2n)) {
    margin-right: 0;
  }

  .pub__slider {
    height: 143px;
    margin-bottom: 9px;
  }

  .pub__price {
    top: 75%;
    right: 0;
    bottom: 44px;
    left: 0;
    width: max-content;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
  }

  .pub__title {
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .pub__name {
    margin-bottom: 31px;
    max-width: 130px;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .pub__btn {
    padding: 10px 35px;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
  }

  /* proects */

  .proects__container {
    padding-top: 51px;
    padding-bottom: 49px;
  }

  .proects__title {
    margin-bottom: 11px;
  }

  .proects__text {
    max-width: 100%;
  }

  .tooltip {
    margin-bottom: 10px;
  }

  .tooltip__icon {
    background-image: url('../image/1024_tooltip.svg');
    background-size: 16px;
    transition: background-image .4s ease-in-out;
  }

  .tooltip__content::after {
    visibility: hidden;
  }

  .tooltip__icon:hover,
  .tooltip__icon:active {
    background-image: url('../image/1024_hover_tooltip.svg');
  }

  .tool-1 {
    left: 90px;
    bottom: 610px;
  }

  .tool-2 {
    left: 86%;
    bottom: 350px;
    min-height: 32px;
    padding: 6px 10px;
  }

  .tool-3 {
    right: 0;
    left: 31%;
    bottom: 392px;
  }

  .proects__subtitle {
    margin-bottom: 13px;
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
  }

  .swiper-proects:hover {
    filter: grayscale(100%);
    opacity: 0.5;
  }

  .swiper4 {
    max-width: 70%;
    /* padding-left: 40px; */
    height: 65px;
  }

  .swiper-proects {
    /* padding-left: 34px; */
    max-width: 100%;
    height: 26px;
    background-size: 195px 65px;
  }

  .proects .swiper-button-prev {
    top: 55%;
    left: 0;
  }

  .proects .swiper-button-next {
    top: 57%;
    left: 89%;
  }

  /* contacts */

  .contacts {
    position: relative;
    padding-bottom: 27px;
  }

  .contacts__container {
    padding-top: 0;
    padding-bottom: 0;
  }

  .contacts__title {
    margin-bottom: 69px;
  }

  .contacts__wrap {
    position: unset;
    flex-direction: column;
    height: auto;
    border-top: none;
  }

  .wrap__container {
    padding-top: 0;
    padding-bottom: 0;
  }

  .contacts__form {
    margin-bottom: 18px;
    max-width: 100%;
  }

  .contacts__subtitle {
    position: absolute;
    top: 49px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
  }

  .contacts__address {
    position: absolute;
    top: 71px;
    max-width: 100%;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
  }

  .contacts__social {
    max-width: 100%;
  }

  .contacts__icons {
    width: 50px;
    height: 50px;
    background-size: 50px;
  }

  .contacts__map {
    position: unset;
    margin-bottom: 19px;
    width: 100%;
    max-width: 575px;
    height: 320px;
    border-left: none;
  }

  .ymaps-2-1-78-map {
    width: 100%;
  }

  .form__title {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
  }

  .form-group {
    margin-bottom: 23px;
  }

  .form__btn {
    padding: 9px 34px;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
  }

  .form__subtitle {
    margin-bottom: 7px;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
  }

  .contacts__icons:not(:last-child) {
    margin-right: 15px;
  }

  /* footer  */

  .footer-container {
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .footer__logo {
    order: 1;
  }

  .footer__list {
    margin-bottom: 20px;
    order: 0;
  }

  .footer__item:not(:last-child) {
    margin-right: 29px;
  }

  .footer__img {
    width: 97px;
    height: 22px;
  }

  .footer__link {
    width: 50px;
    height: 50px;
  }

  .footer__link svg {
    width: 50px;
    height: 50px;
  }
}